body{
    background-color:antiquewhite;
    color:green;
}
nav ul{
    display:flex;
    flex-wrap:wrap;
    margin:0;
    padding:0;
}
nav li{
    list-style:none;
    background-color:green;
    color:antiquewhite;
    margin:0;
    flex:1;
    text-align:center;
    display:flex;
}
nav a, nav a:visited{
    text-decoration:none;
    width:100%;
    padding:8px 0px;
    color:antiquewhite;
}
nav a:hover, nav a.active{
    color:green;
    background-color:rgb(173,230,180);
}